@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@import "@studio384/amicons/amicons.css";

.root {
  isolation: isolate;
}

@theme {
  --font-display: "Lexend", sans-serif;
  --font-dev: "Century Gothic", "Segoe UI Variable Display", var(--font-sans);
}

.shiki {
  padding: 0.5rem;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-zinc-800);
}
